<h6>1) How-to-count-distance-to-the-previous-zero</h6>
<h2><pre>For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
</pre>
</h2>

In [4]:
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [5]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
idx=df.index[df['X']].tolist()

In [6]:
idx

[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]

In [9]:
to_zero =[(idx[i::-1]+[0]).index(0) for i in range(len(idx))]
print(to_zero)

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

<h6>2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.</h6>

In [9]:
mydates = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.randint(0,10000,len(mydates)), index=mydates)

In [25]:
s

2015-01-01     857
2015-01-02    2412
2015-01-05    9461
2015-01-06    7301
2015-01-07    5988
2015-01-08    2036
2015-01-09    2891
2015-01-12    6238
2015-01-13     267
2015-01-14    8710
2015-01-15     470
2015-01-16     378
2015-01-19    3227
2015-01-20    4524
2015-01-21    8594
2015-01-22    5918
2015-01-23    3627
2015-01-26    6942
2015-01-27     817
2015-01-28    6384
2015-01-29    8000
2015-01-30    8650
2015-02-02    9502
2015-02-03     940
2015-02-04    1226
2015-02-05    9808
2015-02-06    6696
2015-02-09    9668
2015-02-10    4858
2015-02-11    9994
              ...
2015-11-20     687
2015-11-23    7099
2015-11-24    8393
2015-11-25    8120
2015-11-26    8735
2015-11-27    1931
2015-11-30    8300
2015-12-01    7833
2015-12-02    5518
2015-12-03    1757
2015-12-04    2015
2015-12-07    5664
2015-12-08    8139
2015-12-09     332
2015-12-10    1946
2015-12-11    3371
2015-12-14     810
2015-12-15    1144
2015-12-16    2622
2015-12-17    2147
2015-12-18    6054
2015-12-21    2549
2015-12-22    8431
2015-12-23    6288
2015-12-24    1857
2015-12-25    4611
2015-12-28    3742
2015-12-29    2680
2015-12-30    6815
2015-12-31    4925
Freq: B, Length: 261, dtype: int32

<h3>3) Find the sum of the values in s for every Wednesday</h3>

In [13]:
s[mydates.weekday == 2].sum()

230915

<h3>4) Average For each calendar month</h3>

In [15]:
s.resample('M').mean()

2015-01-31    4713.272727
2015-02-28    5794.850000
2015-03-31    4858.818182
2015-04-30    5179.045455
2015-05-31    5502.000000
2015-06-30    5152.045455
2015-07-31    5078.956522
2015-08-31    4692.571429
2015-09-30    4595.409091
2015-10-31    4096.045455
2015-11-30    5855.666667
2015-12-31    3967.391304
Freq: M, dtype: float64

<h2>5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.</h2>

In [24]:
s.groupby(pd.Grouper(freq='4M')).idxmax() #pd.TimeGrouper('4M')).idxmax()

2015-01-31   2015-01-05
2015-05-31   2015-02-11
2015-09-30   2015-09-03
2016-01-31   2015-11-11
dtype: datetime64[ns]